<%= form_for(@illness) do |f| %>
  <% if @illness.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@illness.errors.count, "error") %> prohibited this illness from being saved:</h2>

      <ul>
      <% @illness.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  -->
  <div class="field">
    <%= f.label :start %><br>
    <% if @illness.start.nil?
         start = (@last_illness ? @last_illness.end : 1.week.ago).strftime('%m-%d-%Y')
         ending = Date.today.strftime('%m-%d-%Y')
         default = ending
    %>
        <!-- New Illness -->
        <input type="text" name="start" data-provide="datepicker"
               data-date-autoclose="true"
               data-date-format="mm-dd-yyyy"
               data-date-start-date="<%= start %>"
               data-date-end-date="<%= ending %>"
               value="<%= default %>">
    <% else
         start = (@last_illness ? @last_illness.end.strftime('%m-%d-%Y') : '')
         ending = @illness.start.strftime('%m-%d-%Y')
         default = ending
    %>
        <!-- Edit Illness -->
        <input type="text" name="start" data-provide="datepicker"
               data-date-autoclose="true"
               data-date-format="mm-dd-yyyy"
               data-date-start-date="<%= start %>"
               data-date-end-date="<%= ending %>"
               value="<%= default %>">
    <% end %>
  </div>
  <!--
  <div class="field">
    <%= f.label :end %><br>
    <%= f.date_select :end %>
  </div>
  -->
  <div class="field">
    <%= f.label :congestion %><br>
    <%= f.check_box :congestion %>
  </div>
  <div class="field">
    <%= f.label :fever %><br>
    <%= f.check_box :fever %>
  </div>
  <div class="field">
    <%= f.label :headache %><br>
    <%= f.check_box :headache %>
  </div>
  <div class="field">
    <%= f.label :shits %><br>
    <%= f.check_box :shits %>
  </div>
  <% if local_assigns[:to] %>
    <input type="hidden" name="to" value="<%= local_assigns[:to] %>">
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
