<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @illness.user %>
</p>

<p>
  <strong>Start:</strong>
  <%= @illness.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @illness.end %>
</p>

<p>
  <strong>Congestion:</strong>
  <%= @illness.congestion %>
</p>

<p>
  <strong>Fever:</strong>
  <%= @illness.fever %>
</p>

<p>
  <strong>Headache:</strong>
  <%= @illness.headache %>
</p>

<p>
  <strong>Shits:</strong>
  <%= @illness.shits %>
</p>

<%= link_to 'Back', illnesses_path %>
