<img id="floorplan" src="/assets/floorplan_clean.png" style="display: none;"/>
<canvas id="heatmap" width="1200" height="671"></canvas>
<div style="display: none;">
  <% @green_rooms.each do |r| %>
      <span class="roomentry" id="<%= r[0] %>">rgba(0,60,0,0.5):<%= r[1][0]['uid'].first %><% if r[1][1] %>:<%= r[1][1]['uid'].first %><% end %></span>
  <% end %>
  <% @red_rooms.each do |r| %>
      <span class="roomentry" id="<%= r[0] %>">rgba(60,0,0,0.5):<%= r[1][0]['uid'].first %><% if r[1][1] %>:<%= r[1][1]['uid'].first %><% end %></span>
  <% end %>
</div>
<!--
<div id="plaguemap" style="position: relative;">
  <img id="floorplan" src="/assets/floorplan.gif"/>
  <% @users.select { |u| n = u["roomNumber"].first; n && Integer(n) rescue false }.each do |u| %>
    <div id="r<%= u["roomNumber"].first %>" class="RoomFill" style="position: absolute; background: rgba(187,255,187,0.8);">
      <%= u["uid"].first %>
    </div>
  <% end %>
</div>
-->