<div class="col-md-offset-1 col-md-10">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="pull-left" style="width: 126px; height: 126px;">
          <div class="media-object" style="background: <%= @sick ? "red" : "green" %>; width: 126px; height: 126px;"></div>
        </div>
        <div class="media-body">
          <div class="h4"><%= session[:username] %>
            <% if !@past_illnesses.empty?
                 @last_illness = @past_illnesses.max_by {|i| i.end }
               else
                 @last_illness = nil
               end %>
            <% if @sick %>
              <small>Sick since <%= @illness.start %></small>
            <% elsif @last_illness %>
              <small>Last sick on <%= @last_illness.end %></small>
            <% else %>
              <small>Never been sick!</small>
            <% end %>
          </div>
          <% if @sick %>
            <div class="media">
              <div class="pull-left">
                <b class="media-object">Symptoms</b>
              </div>
              <div class="media-body">
                <ul>
                  <% if @illness.shits %><li>Shits</li><% end %>
                  <% if @illness.fever %><li>Fever</li><% end %>
                  <% if @illness.headache %><li>Headache</li><% end %>
                  <% if @illness.congestion %><li>Congestion</li><% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if @sick %>
      <div class="panel-footer" id="endfooter" style="display: none;">
        <%= form_for(@illness) do |f| %>
          <div class="field">
            <%= f.label :end %>
            <input type="text" name="end" data-provide="datepicker"
              data-date-autoclose="true"
              data-date-format="mm-dd-yyyy"
              data-date-start-date="<%= @illness.start.strftime('%m-%d-%Y') %>"
              data-date-end-date="<%= Date.today.strftime('%m-%d-%Y') %>"
              value="<%= Date.today.strftime('%m-%d-%Y') %>">
          </div>
          <input type="hidden" name="to" value="/profile">
          <div class="actions">
            <%= f.submit "End Illness" %>
          </div>
        <% end %>
      </div>
      <div class="panel-footer" id="editfooter" style="display: none;">
        <%= render 'illnesses/form', to: "/profile" %>
      </div>
      <div class="panel-footer">
        <a id="endlink">End Illness</a> | <a id="editlink">Edit Illness</a>
      </div>
    <% else %>
      <div class="panel-footer" id="createfooter" style ="display: none;">
        <%= render 'illnesses/form', to: "/profile" %>
      </div>
      <div class="panel-footer">
        <a id="createlink">Sick?</a>
      </div>
    <% end %>
  </div>
  <% @past_illnesses.each do |i| %>
    <div class="well">
      You were sick from <%= i.start %> to <%= i.end %> with the following symptoms.<br>
      <ul>
        <% if i.shits %><li>Shits</li><% end %>
        <% if i.fever %><li>Fever</li><% end %>
        <% if i.headache %><li>Headache</li><% end %>
        <% if i.congestion %><li>Congestion</li><% end %>
      </ul>
    </div>
  <% end %>
</div>
